h1 {
  color: #fdaedf;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

#color {
  -webkit-transition: background-color 3s, font-size 2s, -webkit-transform 2s;
  transition: background-color 3s, font-size 2s, -webkit-transform 2s;
  transition: background-color 3s, font-size 2s, transform 2s;
  transition: background-color 3s, font-size 2s, transform 2s, -webkit-transform 2s;
}

.digit {
  width: 0.5em;
  overflow: hidden;
  font: 32px monospace;
  cursor: pointer;
}

#stripe {
  display: inline-block;
}

#stripe.animate {
  -webkit-transform: translate(-90%);
          transform: translate(-90%);
  -webkit-transition-duration: 9s;
          transition-duration: 9s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.circle {
  -webkit-transition-property: width, height, margin-left, margin-top;
  transition-property: width, height, margin-left, margin-top;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.image-zeroblur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
